*{
 margin: 0;
 padding: 0;
 list-style: none;
 text-decoration: none;   
}

#header{
    width: 100%;
    margin: 0 auto;
    height: 35%;
    background-color: gray;
    border-radius: 10px;
}

#header h1{
display: grid;
place-items: center;
font-family: 'Merriweather', rifse;
color: rgb(47, 47, 47);
}

#menu-outer{
    height: 84px;
}

.table{
    display: table;
    margin: 0 auto;
    top: 25px;
    position: relative;
}

ul#navotions{
    width: 696px;
    list-style: none;
    /*padding: 20px;*/
    }

ul#navoptions li{
    display: inline;
    padding: 3px;
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    background-color: rgb(156, 155, 155);
    border-radius: 10px;
}

#section1{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#body{
    width: 100%;
    height: 935px;
    margin: 0 auto;
    background-color: gray;
    border-radius: 10px;
    top: 30px;
    position: relative;
}

#aboutme{
    width: 90%;
    margin: 0 auto;
    height: 430px;
    border-radius: 30px;
    background-color: rgb(104, 104, 104);
    top: 25px;
    position: relative;

}

#aboutme h1{
    display: grid;
    place-items: center;
    font-family: 'PT Sans', sans-serif;
}

#avatar{
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

.avatars{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

#paragraph{
    margin: 0 auto;
    width: 251px;
    height: 166px;
    top: 22px;
    position: relative;
}

#paragraph p{
    font-size: 20px;
    text-align: center;
}

#work{
        width: 90%;
        margin: 0 auto;
        height: 430px;
        border-radius: 30px;
        background-color: rgb(104, 104, 104);
        top: 50px;
        position: relative;
}

#work h2{
    display: grid;
    place-items: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 30px;
}

#icons{
margin: 0 auto;
width: 305px;
height: 305px;
position: relative;
top: 45px;
}

#footer{
    width: 100%;
    margin: 0 auto;
    height: 80px;
    background-color: gray;
    border-radius: 10px;
    top: 50px;
    position: relative;
}

#contactme{
    display: grid;
    place-items: center;
    font-family: 'Merriweather', rifse;
    color: rgb(47, 47, 47);
}